html, body {
  margin: 0;
  padding: 0;
	text-align:center;
  background:pink;
  color:white;
}
canvas {
  display: inline-block;
  /* height:300px; */
	margin:0px;
	border:5px solid white;
}
#title{
	margin-top:0.7em;
	}
h2{
  color:#55c357;
	margin:0px;
}
p{
  color:white;
}
button{
	border:3px solid white;
	margin-top:1em;
  background:#6c2fb6;
  font-size:1.5rem;
  color:#4480c1;
  width:10rem;
	padding:0.5rem 0;
}
button:hover{
  color:#2f8e3f;
}
